@media screen and (max-width: 576px) {
    /* shared Styles */
    .container{
        padding: 0px 20px;
    }
    /* Navbar Section */
    .nav-links {
        display: none;
        max-width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
    }
    .menu-toggle {
        display: flex;
        margin-left: auto;
    }
/* Header Content  */
    .header-content{
        flex-direction: column;
        align-items: flex-start;
    }
    .btn-primary{
        padding: 16px 24px;
    }
    #btn-download{
        margin-left: 8px;
        padding: 16px 24px;
    }
   .header-right-content{
    margin-top: 18.75rem;
   }
   .header-right-image{
    transform: translate(-10%, -50%);
    margin-left: 30px;
    }
    .free-videos{
        top: -200px;
        left: 190px;
        padding-top: 10px;
    }
    .videos-title{
        font-size: 1.875rem;
    }
    .video-tutorial{
        top: -90px;
        right: 0px;
        backdrop-filter: blur(5px);
    }
    /* Habits section Responsive: */
    .habits-images, 
    .runs, 
    .bmi, 
    .team-members, 
    .footer-menu,
    .feature{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .runs{
        gap: 65px;
    }
    .feature-card{
        margin-bottom: 50px;
    }
    .icon-box{
        transform: translate(-50%, -50%);
        top: 0.4375rem;
        left: 50%;
        /* left: 8.0625rem;
        top: -4.125rem; */
    }
    .calculator-chart{
        margin-bottom: 40px;
    }
    .bmi{
        gap:24px;
    }
    .item-1, .item-2,.item-3, .item-4, .item-5{
        width: 100%;
    }
}
