@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
            
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* fonts  */
.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.miama-fonts{
    font-family: 'Miama', sans-serif;
}                            

/* Start Shared Styles */
.text-primary{
    color: #ffffff;
}
.text-light-gray{
    color: rgba(255, 255, 255, 0.5);
}
.bg{
    background: #111111;
}
 .display-flex{
    display: flex;
 }
.btn-primary{
    background-color: #E6533C;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 16px 40px;
    border-radius: 42px;
    border-style: none;
}
img{
    max-width: 100%;
}
main > section{
    margin-bottom: 100px !important;
}
/* End of Share Styles */


/* Navbar-styles */
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
}
.brand-name{
    font-size: 36px;
    color: #E6533C !important;
    font-weight: 900;
}
/* Hide the menu toggle by default */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle .bar {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}
/* navbar */

.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1) ;
    border-radius: 39px;
    padding: 8px 12px;
    list-style: none;
}
.nav-item{
    list-style: none;
    margin-left: 47px;
}
.nav-item:first-child{
    margin-left: 0px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
}
.nav-btn{
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;
}
.toggle-btn{
    display: none;
}
/* End of Navbar Styles */

/* Start Header Area */
.header-content{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
.header-left-content{
    max-width: 600px;
    margin-top: 96px;
}
.content-title{
    font-size: 4.85rem;
    font-weight: 700;
    line-height: 80px;
}
.header-content-text{
    margin: 28px 0px;
    line-height: 24px;
}
.shape{
    font-size: 7.85rem;
    font-weight: 300;
}
#btn-download{
    background-color: #111111;
    border: 1px solid #fff;
    margin-left: 28px;
}
.header-right-content{
    margin-top: 32px;
}
.header-right-image{
    position: absolute;
    width: 349px;
    height: 580px;
    transform: translate(-50%, -30%);
    padding-top: 30px;
}
.free-videos{
    width: 193px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px); 
    border-radius: 12px;
    padding: 24px 22px 0px;
    padding-bottom: 16px;
    position: relative;
    top: -10px;
    right: -70px;
}
.videos-title{
    font-size: 2.5rem;
}
.videos-content{
    font-size: 0.82rem;
    margin-top: 8px;
    color:rgba(255, 255, 255, 0.65);
}
.video-tutorial{
    max-width: 206px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    border-style: none;
    position: relative;
    top: 160px;
    right: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play-icon{
    max-width: 47px;
    height: 47px;
    box-sizing: border-box;
    background-color: #E6533C;
    border-radius: 50%;
}
.play-icon img{
    width: 40%;
    margin-top: 11px;
    margin-left: 6px;
}
.icon-title{
    margin-left: 15px;
}
.tutorial-title{
    font-size: 1.5rem;
    line-height: 24px;
    font-weight: 800;
}
.tutorial-content{
    margin-top: 9.4px;
    color: rgba(239, 237, 232, 0.65);
    font-weight: 300;
    font-size: 1rem;
}
/* End of Header Section Area */
.habits-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-title{
    font-size: 3rem;
    margin-bottom: 14px;
}
.section-content{
    width: 671px;
    text-align: center;
    line-height: 24px;
}
.habits-images{
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;  
}
.habits-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 231px;
}
.habits-img{
    border-radius: 100%;
    margin-bottom: 30px;
}
.habits-image h4{
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 6px;
}
.habits-image p{
    text-align: center;
}
